boto3
geemap
dash
geocube
geopandas
numpy
osmnx
pandas
plotly
pyproj
rasterio
requests
rioxarray
scipy
Shapely
Unidecode
xarray
contextily
scikit-learn
pyyaml
rpy2
dash_extensions
dash_bootstrap_components
dash_gif_component
seaborn
